{
  "openapi": "3.1.0",
  "info": {
    "title": "Go-Falcon Gateway API",
    "description": "Complete OpenAPI 3.1 specification for the Go-Falcon API Gateway.\n\nThis specification covers all endpoints across multiple modules including authentication, user management, EVE Online integration, static data access, and task scheduling.\n\nVersion: dev\nGenerated: 2025-08-18T06:11:38Z",
    "contact": {
      "name": "Go-Falcon Team",
      "url": "https://github.com/go-falcon/go-falcon"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "version": "dev"
  },
  "servers": [
    {
      "url": "https://go.eveonline.it",
      "description": "Development server"
    },
    {
      "url": "https://go.eveonline.it",
      "description": "Production server"
    }
  ],
  "paths": {
    "/auth/eve/callback": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Handle EVE SSO callback",
        "description": "Handle EVE SSO callback",
        "operationId": "get_auth_eve_callback",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/auth/eve/login": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Initiate EVE SSO login",
        "description": "Initiate EVE SSO login",
        "operationId": "get_auth_eve_login",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_url": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/auth/eve/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh access token",
        "description": "Refresh access token",
        "operationId": "post_auth_eve_refresh",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expires_in": {
                      "type": "integer"
                    },
                    "refresh_token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/eve/register": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Initiate EVE SSO registration with full scopes",
        "description": "Initiate EVE SSO registration with full scopes",
        "operationId": "get_auth_eve_register",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "auth_url": {
                      "type": "string"
                    },
                    "state": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/eve/token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Exchange EVE token for JWT (mobile apps)",
        "description": "Exchange EVE token for JWT (mobile apps)",
        "operationId": "post_auth_eve_token",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "access_token": {
                    "type": "string"
                  },
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "access_token"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/eve/verify": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify JWT token",
        "description": "Verify JWT token",
        "operationId": "get_auth_eve_verify",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/health": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Auth module health check",
        "description": "Auth module health check",
        "operationId": "get_auth_health",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "module": {
                      "type": "string",
                      "description": "Module name",
                      "example": "auth"
                    },
                    "status": {
                      "type": "string",
                      "description": "Health status",
                      "example": "healthy"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Basic login endpoint",
        "description": "Basic login endpoint",
        "operationId": "post_auth_login",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User logout",
        "description": "User logout",
        "operationId": "post_auth_logout",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/profile": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get user profile",
        "description": "Get user profile",
        "operationId": "get_auth_profile",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alliance_id": {
                      "type": "integer"
                    },
                    "alliance_name": {
                      "type": "string"
                    },
                    "birthday": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "character_id": {
                      "type": "integer"
                    },
                    "character_name": {
                      "type": "string"
                    },
                    "corporation_id": {
                      "type": "integer"
                    },
                    "corporation_name": {
                      "type": "string"
                    },
                    "last_login": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "profile_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "scopes": {
                      "type": "string"
                    },
                    "security_status": {
                      "type": "number",
                      "format": "double"
                    },
                    "token_expiry": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/profile/public": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get public profile by ID",
        "description": "Get public profile by ID",
        "operationId": "get_auth_profile_public",
        "parameters": [
          {
            "name": "character_id",
            "in": "query",
            "description": "EVE character ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alliance_id": {
                      "type": "integer"
                    },
                    "alliance_name": {
                      "type": "string"
                    },
                    "character_id": {
                      "type": "integer"
                    },
                    "character_name": {
                      "type": "string"
                    },
                    "corporation_id": {
                      "type": "integer"
                    },
                    "corporation_name": {
                      "type": "string"
                    },
                    "security_status": {
                      "type": "number",
                      "format": "double"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/profile/refresh": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh profile from ESI",
        "description": "Refresh profile from ESI",
        "operationId": "post_auth_profile_refresh",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "force_refresh": {
                    "type": "boolean"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alliance_id": {
                      "type": "integer"
                    },
                    "alliance_name": {
                      "type": "string"
                    },
                    "birthday": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "character_id": {
                      "type": "integer"
                    },
                    "character_name": {
                      "type": "string"
                    },
                    "corporation_id": {
                      "type": "integer"
                    },
                    "corporation_name": {
                      "type": "string"
                    },
                    "last_login": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "profile_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "scopes": {
                      "type": "string"
                    },
                    "security_status": {
                      "type": "number",
                      "format": "double"
                    },
                    "token_expiry": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alliance_id": {
                      "type": "integer"
                    },
                    "alliance_name": {
                      "type": "string"
                    },
                    "birthday": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "character_id": {
                      "type": "integer"
                    },
                    "character_name": {
                      "type": "string"
                    },
                    "corporation_id": {
                      "type": "integer"
                    },
                    "corporation_name": {
                      "type": "string"
                    },
                    "last_login": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "metadata": {
                      "type": "object"
                    },
                    "profile_updated": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "scopes": {
                      "type": "string"
                    },
                    "security_status": {
                      "type": "number",
                      "format": "double"
                    },
                    "token_expiry": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "user_id": {
                      "type": "string"
                    },
                    "valid": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User registration endpoint",
        "description": "User registration endpoint",
        "operationId": "post_auth_register",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                },
                "required": [
                  "refresh_token"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/status": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get authentication status",
        "description": "Get authentication status",
        "operationId": "get_auth_status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checks": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "error": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "components": {
                      "type": "object"
                    },
                    "module": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "uptime": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "version": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/auth/token": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Retrieve current bearer token",
        "description": "Retrieve current bearer token",
        "operationId": "get_auth_token",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "expires_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "token": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/auth/user": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Get current user information",
        "description": "Get current user information",
        "operationId": "get_auth_user",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "character_id": {
                      "type": "integer"
                    },
                    "character_name": {
                      "type": "string"
                    },
                    "expires_at": {
                      "type": "string"
                    },
                    "scopes": {
                      "type": "string"
                    },
                    "user_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/alliance/{allianceID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get alliance information",
        "description": "Get alliance information",
        "operationId": "get_dev_alliance_allianceID",
        "parameters": [
          {
            "name": "allianceID",
            "in": "path",
            "description": "The allianceID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "DevResponse": {
                      "type": "object",
                      "properties": {
                        "cache": {
                          "type": "object",
                          "properties": {
                            "cache_hit": {
                              "type": "boolean"
                            },
                            "cache_key": {
                              "type": "string"
                            },
                            "cached": {
                              "type": "boolean"
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expires_in": {
                              "type": "integer"
                            }
                          }
                        },
                        "data": {
                          "type": "object",
                          "description": "Any type"
                        },
                        "details": {
                          "type": "string"
                        },
                        "endpoint": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "module": {
                          "type": "string"
                        },
                        "response_time_ms": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "source": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "creator_corporation_id": {
                      "type": "integer"
                    },
                    "creator_id": {
                      "type": "integer"
                    },
                    "date_founded": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "executor_corporation_id": {
                      "type": "integer"
                    },
                    "faction_id": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "ticker": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/cache/stats": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get cache statistics",
        "description": "Get cache statistics",
        "operationId": "get_dev_cache_stats",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/cache/test": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Test cache operations",
        "description": "Test cache operations",
        "operationId": "post_dev_cache_test",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/cache/{key}": {
      "delete": {
        "tags": [
          "Dev"
        ],
        "summary": "Delete cache key",
        "description": "Delete cache key",
        "operationId": "delete_dev_cache_key",
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "description": "The key identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "204": {
            "description": "Resource deleted successfully"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/character/{characterID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get character information",
        "description": "Get character information",
        "operationId": "get_dev_character_characterID",
        "parameters": [
          {
            "name": "characterID",
            "in": "path",
            "description": "The characterID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "DevResponse": {
                      "type": "object",
                      "properties": {
                        "cache": {
                          "type": "object",
                          "properties": {
                            "cache_hit": {
                              "type": "boolean"
                            },
                            "cache_key": {
                              "type": "string"
                            },
                            "cached": {
                              "type": "boolean"
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expires_in": {
                              "type": "integer"
                            }
                          }
                        },
                        "data": {
                          "type": "object",
                          "description": "Any type"
                        },
                        "details": {
                          "type": "string"
                        },
                        "endpoint": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "module": {
                          "type": "string"
                        },
                        "response_time_ms": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "source": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "alliance_id": {
                      "type": "integer"
                    },
                    "ancestry_id": {
                      "type": "integer"
                    },
                    "birthday": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "bloodline_id": {
                      "type": "integer"
                    },
                    "corporation_id": {
                      "type": "integer"
                    },
                    "faction_id": {
                      "type": "integer"
                    },
                    "gender": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "race_id": {
                      "type": "integer"
                    },
                    "security_status": {
                      "type": "number",
                      "format": "double"
                    },
                    "title": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/corporation/{corporationID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get corporation information",
        "description": "Get corporation information",
        "operationId": "get_dev_corporation_corporationID",
        "parameters": [
          {
            "name": "corporationID",
            "in": "path",
            "description": "The corporationID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "DevResponse": {
                      "type": "object",
                      "properties": {
                        "cache": {
                          "type": "object",
                          "properties": {
                            "cache_hit": {
                              "type": "boolean"
                            },
                            "cache_key": {
                              "type": "string"
                            },
                            "cached": {
                              "type": "boolean"
                            },
                            "expires_at": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "expires_in": {
                              "type": "integer"
                            }
                          }
                        },
                        "data": {
                          "type": "object",
                          "description": "Any type"
                        },
                        "details": {
                          "type": "string"
                        },
                        "endpoint": {
                          "type": "string"
                        },
                        "error": {
                          "type": "string"
                        },
                        "module": {
                          "type": "string"
                        },
                        "response_time_ms": {
                          "type": "integer",
                          "format": "int64"
                        },
                        "source": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    },
                    "alliance_id": {
                      "type": "integer"
                    },
                    "ceo_id": {
                      "type": "integer"
                    },
                    "creator_id": {
                      "type": "integer"
                    },
                    "date_founded": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "description": {
                      "type": "string"
                    },
                    "faction_id": {
                      "type": "integer"
                    },
                    "member_count": {
                      "type": "integer"
                    },
                    "name": {
                      "type": "string"
                    },
                    "tax_rate": {
                      "type": "number",
                      "format": "double"
                    },
                    "ticker": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "war_eligible": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/debug/session": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Create a new debug session",
        "description": "Create a new debug session",
        "operationId": "post_dev_debug_session",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/debug/session/{sessionID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Retrieve a debug session",
        "description": "Retrieve a debug session",
        "operationId": "get_dev_debug_session_sessionID",
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "description": "The sessionID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/debug/session/{sessionID}/action": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Perform a debug action",
        "description": "Perform a debug action",
        "operationId": "post_dev_debug_session_sessionID_action",
        "parameters": [
          {
            "name": "sessionID",
            "in": "path",
            "description": "The sessionID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/esi/status": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get EVE Online server status",
        "description": "Get EVE Online server status",
        "operationId": "get_dev_esi_status",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/esi/test": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Test custom ESI endpoints",
        "description": "Test custom ESI endpoints",
        "operationId": "post_dev_esi_test",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/health": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Dev module health check",
        "description": "Dev module health check",
        "operationId": "get_dev_health",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "module": {
                      "type": "string",
                      "description": "Module name",
                      "example": "dev"
                    },
                    "status": {
                      "type": "string",
                      "description": "Health status",
                      "example": "healthy"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/health/check": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Run comprehensive health checks",
        "description": "Run comprehensive health checks",
        "operationId": "post_dev_health_check",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/health/components": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get component health information",
        "description": "Get component health information",
        "operationId": "get_dev_health_components",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/mock": {
      "post": {
        "tags": [
          "Dev"
        ],
        "summary": "Generate mock data for testing",
        "description": "Generate mock data for testing",
        "operationId": "post_dev_mock",
        "requestBody": {
          "description": "Request payload",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Request data varies by endpoint",
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Request payload"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Resource created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Response data varies by endpoint",
                  "properties": {
                    "message": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authentication error message"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Authorization error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/dev/sde/agent/{agentID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get SDE agent information",
        "description": "Get SDE agent information",
        "operationId": "get_dev_sde_agent_agentID",
        "parameters": [
          {
            "name": "agentID",
            "in": "path",
            "description": "The agentID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cache": {
                      "type": "object",
                      "properties": {
                        "cache_hit": {
                          "type": "boolean"
                        },
                        "cache_key": {
                          "type": "string"
                        },
                        "cached": {
                          "type": "boolean"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_in": {
                          "type": "integer"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "description": "Any type"
                    },
                    "details": {
                      "type": "string"
                    },
                    "endpoint": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "module": {
                      "type": "string"
                    },
                    "response_time_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "source": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/sde/blueprint/{blueprintID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get SDE blueprint information",
        "description": "Get SDE blueprint information",
        "operationId": "get_dev_sde_blueprint_blueprintID",
        "parameters": [
          {
            "name": "blueprintID",
            "in": "path",
            "description": "The blueprintID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cache": {
                      "type": "object",
                      "properties": {
                        "cache_hit": {
                          "type": "boolean"
                        },
                        "cache_key": {
                          "type": "string"
                        },
                        "cached": {
                          "type": "boolean"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_in": {
                          "type": "integer"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "description": "Any type"
                    },
                    "details": {
                      "type": "string"
                    },
                    "endpoint": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "module": {
                      "type": "string"
                    },
                    "response_time_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "source": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/sde/category/{categoryID}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get SDE category information",
        "description": "Get SDE category information",
        "operationId": "get_dev_sde_category_categoryID",
        "parameters": [
          {
            "name": "categoryID",
            "in": "path",
            "description": "The categoryID identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "cache": {
                      "type": "object",
                      "properties": {
                        "cache_hit": {
                          "type": "boolean"
                        },
                        "cache_key": {
                          "type": "string"
                        },
                        "cached": {
                          "type": "boolean"
                        },
                        "expires_at": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "expires_in": {
                          "type": "integer"
                        }
                      }
                    },
                    "data": {
                      "type": "object",
                      "description": "Any type"
                    },
                    "details": {
                      "type": "string"
                    },
                    "endpoint": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "module": {
                      "type": "string"
                    },
                    "response_time_ms": {
                      "type": "integer",
                      "format": "int64"
                    },
                    "source": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "description": "Error message"
                }
              }
            }
          }
        }
      }
    },
    "/dev/sde/entity/{type}/{id}": {
      "get": {
        "tags": [
          "Dev"
        ],
        "summary": "Get specific SDE entity",
        "description": "Get specific SDE entity",
        "operationId": "get_dev_sde_entity_type_id",
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "description": "The type identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "The id identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
[...]
